{# ACTUAL PAGE #}
{% set active = 'welcome' %}

{% extends 'layout.html.twig' %}

{% block title %} TestController!{% endblock %}
{% block viewTitle %}CONTROLLER DE TEST{% endblock %}
{% block page_contents %}
<h1>WE ARE IN IT !!!</h1>
{% endblock %}
