<div class="form-row m-b-55">
    <div class="name">Nom Entreprise</div>
    <div class="value">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group-desc">
                    <input class="input--style-5" id="prenomClient" type="text" name="prenomClient" required>
                    <label class="label--desc">Nom</label>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group-desc">
                    <input class="input--style-5" id="nomClient" type="text" name="nomClient" required>
                    <label class="label--desc">Slogan</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="name">Raison Social</div>
    <div class="value">
        <div class="input-group">
            <input class="input--style-5" type="text" name="raisonEntre">
        </div>
    </div>
</div>

<div class="form-row m-b-100">
    <div class="name">Autre Infos</div>
    <div class="value">
        <div class="row">
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="cniClient" type="text" name="cniClient" required>
                    <label class="label--desc">Annee de creation</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="telClient" type="tel" name="telClient" required>
                    <label class="label--desc">Numero de Téléphone</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="adresseClient" type="text" name="adresseClient" required>
                    <label class="label--desc">Adresse</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5 prefilled" value="BP-CL-DK-2552" id="numeroIdClient" type="text" name="numeroIdClient" disabled required>
                    <label class="label--desc">Numero d'Identification Entreprise</label>
                </div>
            </div>
        </div>
    </div>
</div>