<div class="form-row m-b-55">
    <div class="name">Nom Entreprise</div>
    <div class="value">
        <div class="input-group">
            <input class="input--style-5" type="text" name="nomEntreprise">
        </div>
    </div>
</div>

<div class="form-row">
    <div class="name">Raison Social</div>
    <div class="value">
        <div class="input-group">
            <input class="input--style-5" type="text" name="raisonEntre">
        </div>
    </div>
</div>

<div class="form-row m-b-100">
    <div class="name">Autre Infos</div>
    <div class="value">
        <div class="row">
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="cniClient" type="text" name="cniClient" required>
                    <label class="label--desc">features</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="telClient" type="tel" name="telClient" pattern="([0-9]{2} )[0-9]{7}" title="DOIT ETRE DE LA FORME [77 XXXXXXX]" required>
                    <label class="label--desc">Numero de Téléphone - SN:[+221]</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5" id="adresseClient" type="text" name="adresseClient" required>
                    <label class="label--desc">Adresse</label>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group-desc">
                    <input class="input--style-5 prefilled" value="BP-CL-DK-2552" id="numeroIdClient" type="text" name="numeroIdClient" required>
                    <label class="label--desc">Numero d'Identification Entreprise</label>
                </div>
            </div>
        </div>
    </div>
</div>
